<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />

    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <header class="header">
        <svg width="20px" height="20px" class="logo-icon">
            <use href="./images/icons..svg#icon-Vector">
            </use>
        </svg>
        <svg width="27px" height="20px" class="logo-icon">
            <use href="./images/icons..svg#icon-menu">
            </use>
        </svg>
        <a class="logo" href="#">GREEN.HARVEST</a>
        <nav>
            <ul class="nav-bar-list">
                <li class="nav-bar-element">
                    <a href="#">How It Works</a>
                </li>
                <li class="nav-bar-element">
                    <a href="#">Vegetables</a>
                </li>
                <li class="nav-bar-element">
                    <a href="#">Reviews</a>
                </li>
            </ul>
            <button class="nav-bar-button" type=button>Shop now</button>
        </nav>
    </header>

    <section class="hero">
        < class="hero-container">
            <div class="hero-text">
                <span class="hero-title">organic vegetables to your diet today!</span>
                <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest,
                    highest quality vegetables available. Fresh Harvest
                    Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets
                    delivered to you.
                </p>
            </div>
            <div class="hero-image">
                <img src="images/image-1.jpg" alt="fruits-image" />
            </div>
            <section>
                <div class="how-ıs-works-container">
                    <div class="how-ıs-works-image">
                        <img src="images/image-2.jpg" alt="image" />
                    </div>
                    <div class="how-ıs-works-text-group">
                        <h3 class="how-ıs-works-title">To order your vegetable basket, simply follow these easy steps
                        </h3>
                        <p class="how-ıs-works-text">Our baskets are assembled with care and delivered straight to your
                            doorstep, so you can enjoy the taste of fresh fruit
                            without ever leaving your home.</p>
                        <ul class="how-ıs-works-list-top">
                            <li class="how-ıs-works-list">
                                <svg width="7px" height="20px" class="how-ıs-works-list-icon">
                                    <use href="./images/icons.svg#icon-1">
                                    </use>
                                </svg>
                                <p class="how-ıs-works-list-text">Just choose the vegetable you want to order by
                                    clicking on the checkboxes next to it.</p>
                            </li>
                            <li class="how-ıs-works-list">
                                <svg width="7px" height="20px" class="how-ıs-works-list-icon">
                                    <use href="./images/icons.svg#icon-2">
                                    </use>
                                </svg>
                                <p class="how-ıs-works-list-text">Click on the basket and fill out the form.</p>
                            </li>
                            <li class="how-ıs-works-list">
                                <svg width="7px" height="20px" class="how-ıs-works-list-icon">
                                    <use href="./images/icons..svg#icon-3">
                                    </use>
                                </svg>
                                <p class="how-ıs-works-list-text">Sit back and relax! Your fresh vegetables basket will
                                    be delivered.</p>
                            </li>
                        </ul>
                    </div>
            </section>
            </div>
    </section>
    <section class="advertisement">
        <h1 class="advertisement">Discount up to 40%! Taste the vitamins and keep your health</h1>
    </section>

    <!-- footer -->
    <footer class="footer">

        <div class="footer-container">
            <svg width="20px" height="20px" class="logo-icon">
                <use href="./images/icons.svg#icon-Vector">
                </use>
            </svg>
            <a class="logo" href="#">GREEN.HARVEST</a>
            <p class="footer-text">
                Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                choice.
            </p>

        </div>
        <div class="footer-title-addresss">
            <ul class="footer-title-main">
                <li class="footer-title"> <a href="#" class="footer-title-link">how it works</a></li>
                <li class="footer-title"><a href="#" class="footer-title-link">vegetables</a></li>
                <li class="footer-title"><a href="#" class="footer-title-link">reviews</a></li>
            </ul>
            <address class="address-container">
                <p class="tel">+380 (68) 443-94-26</p>
                <p class="address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
            </address>
        </div>
        <div class="footer-privacy-copyright">
            <p class="footer-privacy">Privacy Policy / Cookie settings </p>
            <p class="footer-copyright">©Green Harvest 2023</p>
        </div>

    </footer>


</body>

</html>