
<footer class="container">
  <div class="footer-container">
    <div class="footer-container-row">
      <div class="logo-box">
        <svg class="logo-icon">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
        <a class="logo" href="#">GREEN.HARVEST</a>
    </div>
    <p class="footer-text">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
    </p>
    </div>
    <div class="footer-title-address">
      <ul class="footer-title-main">
        <li class="footer-title"><a href="#" class="footer-title-link">how it works</a></li>
        <li class="footer-title"><a href="#" class="footer-title-link">vegetables</a></li>
        <li class="footer-title"><a href="#" class="footer-title-link">reviews</a></li>
      </ul>
      <address class="address-container">
        <a href="tel:+380684439426" class="tel">+380 (68) 443-94-26</a>
        <a href="#" class="address">1678 S. Pioneer Road Salt<br>Lake City UT 84104</a>
      </address>
    </div>
  </div>
  <div class="footer-privacy-copyright">
    <div class="policy-setting">
      <a href="#" class="footer-privacy">Privacy Policy</a>
      <p>/</p>
      <a href="#">Cookie settings</a>
    </div>
    <p class="footer-copyright">©Green Harvest 2023</p>
  </div>
</footer>

 <footer class="footer">
            
                <div class="footer-container">
                            <svg width="20px" height="20px" class="logo-icon">
                <use href="./images/icons.svg#icon-Vector">
                </use>
            </svg>
        <a class="logo" href="#">GREEN.HARVEST</a>
                <p class="footer-text">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
                </p>

                </div>
                <div class="footer-title-addresss">
                     <ul class="footer-title-main">
                    <li class="footer-title"> <a href="#" class="footer-title-link">how it works</a></li>
                    <li class="footer-title"><a href="#" class="footer-title-link">vegetables</a></li>
                    <li class="footer-title"><a href="#" class="footer-title-link">reviews</a></li>
                </ul>
                <address class="address-container">
                   <p class="tel">+380 (68) 443-94-26</p>
                   <p class="address">1678 S. Pioneer Road Salt Lake City UT 84104</p>
                </address> 
                </div>
              <div class="footer-privacy-copyright">
                <p class="footer-privacy">Privacy Policy / Cookie settings </p>
                <p class="footer-copyright">©Green Harvest 2023</p>
              </div>
            
        </footer>
   

