
<header class="header">
  <div class="header-container">

    <!--LOGO-->
    <a class="logo-text" href="#top">
      <svg class="header-logo-img" aria-label="Green Harvest Logo">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>

      <span>GREEN.HARVEST</span>
    </a>

    <input type="checkbox" id="menu-toggle" class="menu-toggle" aria-hidden="true" />

    <label for="menu-toggle" class="burger-button" aria-label="Open menu">
      <svg width="27" height="20" class="burger-icon" aria-hidden="true">
        <use href="./img/symbol-defs.svg#icon-burger"></use>
      </svg>
    </label>

  
    <nav class="desktop-nav" aria-label="Main navigation">
      <ul class="nav-bar-list">
        <li class="nav-bar-element"><a href="#how-it-works">How It Works</a></li>
        <li class="nav-bar-element"><a href="#vegetables">Vegetables</a></li>
        <li class="nav-bar-element"><a href="#reviews">Reviews</a></li>
      </ul>
      <button class="nav-bar-button" type="button">Shop now</button>
    </nav>

    <div class="mobile-menu">
      <div class="mobile-menu-inner">
        <label for="menu-toggle" class="mobile-menu-close">
          <svg class="close-icon" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </label>

        <nav class="mobile-nav">
          <ul class="mobile-menu-list">
            <li><a class="mobile-menu-link" href="#how-it-works">How It Works</a></li>
            <li><a class="mobile-menu-link" href="#vegetables">Vegetables</a></li>
            <li><a class="mobile-menu-link" href="#reviews">Reviews</a></li>
          </ul>
        </nav>

        <button class="mobile-menu-button" type="button">Shop now</button>
      </div>
    </div>

</header>