<header class="header">
<div class="header-container">
  <!-- LOGO -->
   
  <svg width="20px" height="20px" class="logo-icon">
    <use href="src\img\webp\icons..svg#icon-Vector">
    </use>
  </svg>
  <a class="logo-text" href="#">GREEN.HARVEST</a>

  <!--MENU İCON-->

<label for="menu-toggle" class="burger-botton" aria-label="Open menu">
<svg width="27px" height="20px" class="burger-icon">
  <use href="src\img\webp\icons..svg#icon-menu">
  </use>
</svg>
</label>

<!--checkbox-->

  <input type="checkbox" id="menu-toggle" class="menu-toggle" aria-hidden="true" />

  <!--burger button-->

  <label for="menu-toggle" class="burger-button" aria-label="Open menu">
    <svg class="burger-icon burger-icon--tablet" aria-hidden="true">
      <use href="src\img\webp\icons..svg#icon-menu"></use>
    </svg>
        
    <svg class="burger-icon burger-icon--mobile" aria-hidden="true">
      <use href="src\img\webp\icons..svg#icon-menu"></use>
    </svg>
  </label>

<!--Desktop Nav-->

  <nav class="desktop-nav">
    <ul class="nav-bar-list">
      <li class="nav-bar-element">
        <a href="#">How It Works</a>
      </li>
      <li class="nav-bar-element">
        <a href="#">Vegetables</a>
      </li>
      <li class="nav-bar-element">
        <a href="#">Reviews</a>
      </li>
    </ul>
    <button class="nav-bar-button" type="button">Shop now</button>
  </nav>
  <!--Mobile Menu-->

<div class="mobile-menu" aria-hidden="true">
<div class="mobile-menu-panel">
  <label for="menu-toggle" class="mobile-menu-close" aria-label="Close menu">
    <svg class="close-icon" aria-hidden="true">
      <use href="src\img\icons..svg#icon-closed"></use>
    </svg>
  </label>
          
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#">How It Works</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#">Vegetables</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#">Reviews</a>
        </li>
      </ul>
          
      <button class="mobile-menu-button" type="button">Shop now</button>
</div>
</div>

</div>
</header>
