
<section class="hero" id="hero">
    <div class="hero-container">
        <div class="hero-text-title">
           
            <h1 class="hero-title">organic vegetables to your diet today!</h1>
            <p class="hero-text">
                Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables
                available.
                Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated
                vegetable baskets delivered to you.
            </p>
        </div>
    </div>

    <div class="hero-image">
        <picture>
           
            <source media="(min-width: 1280px)"
                srcset="./img/desktop-basket-1x.jpg 1x, ./img/desktop-basket-2x.jpg 2x" />
            <source media="(min-width: 768px)" srcset="./img/tablet-basket-1x.jpg 1x, ./img/tablet-basket-2x.jpg 2x" />
            <img src="./img/mobile-basket-1x.jpg" srcset="./img/mobile-basket-1x.jpg 1x, ./img/mobile-basket-2x.jpg 2x"
                alt="Basket with vegetables" class="hero-img hero-img--basket" loading="eager" />
        </picture>
    </div>
</section>