<section class="hero">
    <div class="hero-container">
        <div class="hero-text-title">
            <span class="hero-title">organic vegetables to your diet today!</span>
            <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest
            Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.
            </p>
        </div>
    </div>
    <div class="hero-image">
        <picture>
            <source media="(min-width: 1280px)" srcset="
                        src\img\image-1-1x.jpg
                        src\img\image-1.jpg
                      " />
            <img src="src\img\image-1-1x.jpg"
             alt="Basket with vegetables"
              class="hero-img hero-img--basket"
               loading="eager"/>
               
        </picture>

    </div>
</section>
