<section>
  <div class="how-ıs-works-container">
    <div class="how-ıs-works-image">
                <picture>
                  <source media="(min-width: 1280px)" srcset="
                               src\img\image-2-1x.jpg 
                               src\img\image-2.jpg 
                              " />
                  <img src="src\img\image-2-1x.jpg " alt="Preparing vegetables in the kitchen"
                    class="hero-img hero-img--cutting" loading="lazy" />
                </picture>
    </div>
    <div class="how-ıs-works-text-group">
      <h3 class="how-ıs-works-title">To order your vegetable basket, simply follow these easy steps</h3>
      <p class="how-ıs-works-text">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit
      without ever leaving your home.</p>
      <ul class="how-ıs-works-list-top">
        <li class="how-ıs-works-list">
          <svg width="7px" height="20px" class="how-ıs-works-list-icon">
            <use href="src\img\icons..svg#icon-1"></use>
          </svg>
          <p class="how-ıs-works-list-text">Just choose the vegetable you want to order by clicking on the checkboxes next to it.</p>
        </li>
        <li class="how-ıs-works-list">
          <svg width="7px" height="20px" class="how-ıs-works-list-icon">
            <use href="src\img\icons..svg#icon-2"></use>
          </svg>
          <p class="how-ıs-works-list-text">Click on the basket and fill out the form.</p>
        </li>
        <li class="how-ıs-works-list">
          <svg width="7px" height="20px" class="how-ıs-works-list-icon">
            <use href="src\img\icons..svg#icon-3"></use>
          </svg>
          <p class="how-ıs-works-list-text">Sit back and relax! Your fresh vegetables basket will be delivered.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
