<!-- FOURTH SECTION -->
<section class="fourth-section">
    <div class="fourth-section-container">
        <h2 class="fourth-section-main-title">reviews from our customers</h2>
        <p class="fourth-section-main-text">
            Words of our customers: impressions and opinions about the quality of
            our services and the freshness of our products.
        </p>

        <ul class="fourth-section-main-person-list">
            <li class="fourth-section-person-list">
                <img src="images/image-3.jpg" alt="John Wax" class="fourth-section-person-list-image" loading="lazy" />
                <p class="fourth-section-person-list-name">John Wax</p>
                <p class="fourth-section-person-list-text">
                    These vegetables are my secret to delicious and healthy meals. The
                    quality is always at the highest level, the aroma and taste are
                    enchanting. I advise every fan of real products!
                </p>
            </li>

            <li class="fourth-section-person-list">
                <img src="images/image-4.jpg" alt="Victoria Romashenko" class="fourth-section-person-list-image"
                    loading="lazy" />
                <p class="fourth-section-person-list-name">Victoria Romashenko</p>
                <p class="fourth-section-person-list-text">
                    I love how fast and fresh the vegetables are delivered. Salads
                    always turn out so appetizing, and soups are real masterpieces.
                    The quality is impeccable!
                </p>
            </li>

            <li class="fourth-section-person-list">
                <img src="images/image-5.jpg" alt="Ihor Trachuk" class="fourth-section-person-list-image"
                    loading="lazy" />
                <p class="fourth-section-person-list-name">Ihor Trachuk</p>
                <p class="fourth-section-person-list-text">
                    Recently tried my fresh tomatoes and peppers - amazing! The
                    authenticity of the taste, as if from the garden directly to my
                    table. It is now my main vegetable supplier.
                </p>
            </li>
        </ul>
    </div>
</section>