<!-- THIRD SECTION -->
<section class="third-section">
    <h2 class="third-section-title">organic vegetables</h2>
    <p class="third-section-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
    </p>

    <ul class="third-section-list-top">
        <li class="third-section-list">
            <h3 class="third-section-list-title">eggplant</h3>
            <p class="third-section-list-text">60 USD / kg</p>
            <img src="./images/auberg-1x.jpg" srcset="./images/auberg-1x.jpg 1x, ./images/auberg-2x.jpg 2x"
                alt="eggplant" class="third-section-list-image" loading="lazy" />
        </li>

        <li class="third-section-list">
            <h3 class="third-section-list-title">leek</h3>
            <p class="third-section-list-text">50 USD / kg</p>
            <img src="./images/leek-1x.jpg" srcset="./images/leek-1x.jpg 1x, ./images/leek-2x.jpg 2x" alt="leek"
                class="third-section-list-image" loading="lazy" />
        </li>

        <li class="third-section-list">
            <h3 class="third-section-list-title">mushrooms</h3>
            <p class="third-section-list-text">40 USD / kg</p>
            <img src="./images/mushroom-1x.jpg" srcset="./images/mushroom-1x.jpg 1x, ./images/mushroom-2x.jpg 2x"
                alt="mushrooms" class="third-section-list-image" loading="lazy" />
        </li>

        <li class="third-section-list">
            <h3 class="third-section-list-title">corn</h3>
            <p class="third-section-list-text">60 USD / kg</p>
            <img src="./images/corn-1x.jpg" srcset="./images/corn-1x.jpg 1x, ./images/corn-2x.jpg 2x" alt="corn"
                class="third-section-list-image" loading="lazy" />
        </li>

        <li class="third-section-list">
            <h3 class="third-section-list-title">sweet potatoes</h3>
            <p class="third-section-list-text">50 USD / kg</p>
            <img src="./images/sweetPo-1x.jpg" srcset="./images/sweetPo-1x.jpg 1x, ./images/sweetPo-2x.jpg 2x"
                alt="sweet potatoes" class="third-section-list-image" loading="lazy" />
        </li>

        <li class="third-section-list">
            <h3 class="third-section-list-title">carrot</h3>
            <p class="third-section-list-text">40 USD / kg</p>
            <img src="./images/carrot-1x.jpg" srcset="./images/carrot-1x.jpg 1x, ./images/carrot-2x.jpg 2x" alt="carrot"
                class="third-section-list-image" loading="lazy" />
        </li>
    </ul>
</section>