:root {
  --font-main: "Inter Tight", sans-serif;
   --menu-left-bg: #384937;
--menu-right-bg: #597d46;
    --menu-text-color: #ffffff;


  /* Renk Paleti */
  --color-green: #597d46;
  --color-burgundy: #7a3e50;
  --color-dark-btn: #5e2f37;
  --color-white: #ffffff;
  --color-text-dark: #333333;
  --color-step-bg: #f5f5f5;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-white);
  color: var(--color-text-dark);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
.logo-text {
  letter-spacing: -0.02em;
}

/* =========================================
   1. FONTLAR VE TEMEL AYARLAR
   ========================================= */

:root {
  --font-main: "Inter Tight", sans-serif;
  --color-green: #597d46;
  --color-burgundy: #7a3e50;
  --color-dark-btn: #5e2f37;
  --color-white: #ffffff;
  --color-text-dark: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-white);
  color: var(--color-text-dark);
  line-height: 1.4;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}