/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./how-is-works.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./review.css');
@import url('./your-order.css');
@import url('./back-link.css');
@import url('./footer.css');
