
/* =========================================
   5. BÖLÜM: YOUR ORDER (SIPARİŞ ALANI)
   ========================================= */

.fifth-section {
  background-color: var(--color-green);
  color: var(--color-white);
  padding: 100px 100px;

  /* Izgara (Grid) Yapısı */
  display: grid;
  grid-template-columns: 1fr 1fr;

  column-gap: 40px;

  row-gap: 40px;
}

/* --- ÜST KISIM (BAŞLIK VE AÇIKLAMA) --- */
.fifth-section-main-title,
.fifth-section-main-text {
  grid-column: 1 / -1;
  text-align: left;
}

.fifth-section-main-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: -20px;
}

.fifth-section-main-text {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 600px;
  opacity: 0.9;
}

/* --- SOL TARAFTAKİ BEYAZ KART (FORM) --- */
.fifth-section-bottom-left-container {
  height: 100%;
}

.fifth-card--white {
  background-color: var(--color-white);
  border-radius: 30px;
  padding: 50px;
  color: var(--color-text-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Form Başlığı */
.fifth-section-bottom-left-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Renkli Yazılar (Spanlar) */
.highlight-burgundy {
  color: var(--color-burgundy);
}

.highlight-green {
  color: var(--color-green);
}

/* Form Tasarımı */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.name-input,
.email-input,
.textarea {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  padding: 18px 25px;
  font-size: 0.9rem;
  font-family: inherit;
  outline: none;
  transition: border 0.3s;
}

.name-input,
.email-input {
  border-radius: 50px;
}

.textarea {
  border-radius: 20px;
  min-height: 100px;
  resize: none;
}

.form-button {
  width: 100%;
  background-color: var(--color-burgundy);
  color: var(--color-white);
  padding: 18px;
  border-radius: 50px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

/* --- SAĞ TARAFTAKİ BORDO KART (RESİM & FOOTER) --- */
.fifth-section-bottom-right-container {
  height: 100%;
}

.fifth-card--maroon {
  background-color: var(--color-burgundy);
  border-radius: 30px;
  padding: 50px;
  height: 100%;
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Resim */
.fifth-section-bottom-right-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 40px;
}

/* Alt Linkler Kısmı */
.fifth-section-bottom-text {
  font-size: 0.9rem;
  margin-bottom: 15px;
  opacity: 0.8;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--color-white);
  letter-spacing: 0.5px;
}